html {
	height: 100%;
}

body {
	background: #8b2424;
}

p {
	color: black;
}

@font-face {
	font-family: ZillaSlabHighlight;
	src: url("./from/fonts/ZillaSlabHighlight-Regular.ttf");
}
@font-face {
	font-family: Itim;
	src: url("./from/fonts/Itim-Regular.ttf");
}
@font-face {
	font-family: Pacifico;
	src: url("./from/fonts/Pacifico-Regular.ttf");
}

P {
 font-family: Pacifico;
}

p {
	font-weight: normal;
}

#showMobile {
	border: 3px solid brown;
	background: orange;
	color: yellow;
	font-family: Itim;
	outline: 1px solid #666;
}
 img {
	 border: 5px solid black;
 }
