html {
	height: 100%;
}

body {
	background: green;
}

p {
	color: black;
}

@font-face {
 font-family: Itim;
 src: url("./from/fonts/Itim-Regular.ttf");
}

P {
 font-family: Itim;
}

p {
	font-weight: normal;
}

#showMobile {
	border: 3px solid brown;
	background: black;
	color: yellow;
}
 img {
	 border: 5px solid black;
 }
