body {
	background: green;
}

p {
	color: white;
}

@font-face {
 font-family: Itim; 
 src: url("./from/fonts/Itim-Regular.ttf");
}

P {
 font-family: Itim;
}

p {
	font-weight: normal;
}

#showMobile {
	border: 3px solid orange;
	background: burlywood;
}
